feedparser==6.0.10
Flask==3.0.1
matplotlib==3.7.1
nest_asyncio==1.5.6
pandas==2.0.1
transformers==4.30.1
sentencepiece==0.1.96  ## to use the ALBERTA Model

gunicorn==20.1.0
# Specific version of TensorFlow
tensorflow>=2.0,<3.0
Werkzeug>=3.0.0    ## Vercel specific library, often required to run the flask app in Vercel deployment platfor, the version should match the version of Flask used
